@model LoginViewModel

<h2>Přihlášení</h2>

<form asp-action="Login" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label>Uživatelské jméno</label>
        <input asp-for="Username" class="form-control" />
    </div>
    <div class="form-group">
        <label>Heslo</label>
        <input asp-for="Password" type="password" class="form-control" />
    </div>
    <br />
    <button type="submit" class="btn btn-success">Přihlásit se</button>
</form>

<p>Nemáte účet? <a asp-action="Register">Zaregistrujte se zde</a>.</p>